@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&family=Source+Code+Pro&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  color:white;
  scroll-behavior: smooth;
}
body{
  font-family: 'IBM Plex Sans', sans-serif;
}
main{
  margin-top:max(min(10vh, 100px), 70px);
}
header{
  z-index:2;
  width:100vw;
  height: max(min(10vh, 100px), 70px);
  position:fixed;
  background-color:#4A4E69;
  top:0;
  left:0;
  display:flex;
  flex-direction:row;
  align-items:center;
}
header h1{
  margin:0;
  font-size:3em;
  padding-left:25px;
}
header .navs{
  display:flex;
  position: absolute;
  right:20px;
  justify-content:space-between;
}
header .navs p{
  margin-left:32px;
  cursor: pointer;
}
button{
  background-color:#73AB84;
  border-width:0;
  width:200px;
  height:50px;
  border-radius: 25px;
  color:white;
  font-size:40px;
  font-family: IBMPlexSans;
  padding:auto;
}
button:hover{
  background-color:#427A53;
}
.section{
  overflow:hidden;
  width:100vw;
  display: flex;
  justify-content:space-between;
  background-color:#D8D4F2;
}
.section img{
  width: calc(40vw - 50px);
  object-fit: cover;
  margin-top: -3px;
}
.section .content{
  height:100%;
  width:60vw;
  float:right;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:15px;
}
.section .content h2{
  font-size:48px;
  margin-bottom:0;
}
.section .content p,.section .content ul li{
  font-size:4vmin;
  margin-left:20px;
}
.section:nth-child(even){

}
.section:nth-child(even) .content{
  height:100%;
  width:60vw;
  float:left;
  margin:0;
}
footer{
  background-color:#11112A;
  height: min(16.67vh, 150px);
  display:flex;
  align-items:center;
}
footer p{
  font-size:1.5em;
  margin:auto;
}
body::-webkit-scrollbar {
  display: none;
}
span{
  text-decoration: underline;
  font-weight: bold;
  color:#73AB84;
}
.skills{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

.bar{
  border-radius:5px;
  colour:white;
  width:45vw;
  height: 5vh;
  background-color: lightgray;
  margin-left:3.3vw;
  margin-top:1vh;
}

.innerBar{
  border-radius:5px;
  height:100%;
  left:0;
}

.innerBar p {
  font-size:1em;
  white-space: nowrap;
  overflow-y:visible;
  margin:0;
  padding:0;
}

.projects{
  height:80%;
  width:90%;
  display:flex;
}