<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Your device screen is too small.</title>
	</head>
	<body style="background-color:#337A96">
		<h3 style="color:white;font-size:10vmin">Oh noes! Seems like your device is to small!</h3>
		<p style="color:white;font-size:6vmin">This website is not yet optimized for phones and other small devices, my apoligies for the inconvenience.</p>
	</body>
</html>